
body {
    background-color: #181717;
}
p {
    color: #e9e9e9;
    font-family: 'Cormorant', serif;
    font-size: 30px;
    float: right;
}


.display-3 {
color: #181717;

}
h2 {
    color: #e9e9e9;
}
.btn {
    background-color:#33cccc;
    color: #181717;
    align-items: center;
   
  
}

.btn:hover
{
background-image:none !important;
background-color:#ff00ff !important;
}

.container-fullwidth {
    background-color: #181717 !important;
}
.form-group {
    color: #e9e9e9;
}

.display-3 {
    text-align: center;
}
.navbar-default {
    background-color:teal;
    background-image: none;
    background-repeat: no-repeat;
   }
  

   #view{
    margin: 25px 140px 75px 100px;
   }
   #view1{
    margin: 30px 140px 9px 100px;
   }
   #view2 {
       margin-right: 138px;
       margin-top: 30px;
   }
   #port {
    margin-right: 470px;

   }

  .container {
      text-align: center;
      margin-top: 500;
  }

  